body {
    background-image: url("https://as1.ftcdn.net/v2/jpg/05/72/78/82/1000_F_572788249_Lpiz0SMKEh1XU4y3Lj7NXjZW89yXw4ZC.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Times, sans-serif;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    font-family: Times;
    text-align: center;
}

button {
    font-size: 20px;
    color:gray;
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
}