body {
    background-image: url("https://cdn.wallpapersafari.com/80/86/jyZDkf.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Times, sans-serif;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    font-family: Times;
    position:absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    display:flex;
    flex-direction: column;
    text-align: left;
}

.clicker {
    font-family: Times;
    color: whitesmoke;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    text-align: center;
}

button {
    font-size: 15px;
    color:white;
    background-color: purple;
    margin: 10px;
    padding: 40px 80px;
    cursor: pointer;
}

.statistics {
    font-family: Times;
    color:whitesmoke;
    text-align: center;
    right: 0;
    position: absolute;
    top: 50%;
    right: 20px;
    display: flex;
    flex-direction: column;
}

button:hover {
    color: red;
    font-size:20px;
    background-color:blueviolet;
    padding: 60px 100px;
    transform: rotate(15);
    transform: scale(1.1);
    transition: 0.1s;
}